<!DOCTYPE html>
<html>
<head>
<title>Admin Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
body{
    background:#000;
    color:white;
    font-family:Arial;
    padding:20px;
}

.box{
    max-width:400px;
    margin:auto;
    background:#111;
    padding:20px;
    border-radius:15px;
}

input,button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
}

button{
    background:#00bcd4;
    border:none;
}
</style>

</head>

<body>

<div class="box">

<h2>Admin Login</h2>

<form method="POST">

<input name="username" placeholder="Username">

<input name="password" type="password" placeholder="Password">

<button>
Login
</button>

</form>

</div>

</body>
</html>